@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
:root {
  --light-green: #00ff66;
  --light-black: #2a343c;
  --light-gray: #fafdffbf;
  --white: #fff;
  --black: #000;
  --green: #128c7e;
  --purple: #8e44ad;
  --blue: #257699;
  --blue-secudary: #08d3ff;
  --dark-purple-start: #2b0d3a;
  --dark-purple-middle: #3e1f54;
  --dark-purple-end: #512a6f;
  --font-header: "Poppins", sans-serif;
  --font-body: "Roboto", sans-serif;
  --font-card: "Hind", sans-serif;
  --font-size-small: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;
  --font-size-xxlarge: 3rem;
  --font-size-xxxlarge: 4rem;
}

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.banner-content,
.introduction-content,
.description-content,
.testimonial-content,
.brands-content,
.card-content,
.service-content,
.footer-content {
  margin: 5rem auto;
  width: 80%;
}

/* HEADER */

.header {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 99;
  padding: 1.3rem 2rem;
  font-family: var(--font-body);
  background: #0000007c;
  transition: background-color 0.3s ease; /* suave */
  justify-content: space-between;
}

.header.scrolled {
  /* background: linear-gradient(to right, #1a0033, #32004b 50%, #4b0066); */
  background: #fff;
}
.content {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.bars {
  display: none;
}
.logo {
  display: flex;

  justify-content: center;
  align-items: center;
}
.logo-shate {
  width: 126px;

  margin: auto;
}
.shate-logo {
  width: 100%;
}

/* NAVIGATION */

.navigation {
  /* width: 60%; */
  display: flex;
  /* background: yellow; */
  align-items: center;
  justify-content: center;
}
.nav-itens {
  gap: 4rem;
  display: flex;
}
.nav-itens li {
  list-style: none;
}
.nav-item {
  text-decoration: none;
  /* color: var(--light-black); */
  color: var(--white);
  font-weight: 500;
  font-size: var(--font-size-xxsmall);
}
.nav-item.scrolled {
  color: #000;
}
.progresso-circular {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: conic-gradient(#8e44ad 0%, #dcdcdc 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.progresso-circular::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
}

.circular-progress {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(var(--green) 0%, #dcdcdc 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.circular-progress::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
}
.porcentagem {
  position: relative;
  font-size: 32px;
  font-weight: bold;
  color: #8e44ad;
  /* color: var(--green); */
  z-index: 2;
}
.percentage {
  position: relative;
  font-size: 22px;
  font-weight: bold;
  color: var(--green);
  z-index: 2;
}
.button {
  /* width: 20%; */
  justify-content: end;
  align-items: center;
  /* background: #ccc; */
  display: flex;
}
.mobile-button {
  display: none;
}
.btn {
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--white);
  background: var(--purple);
  font-size: var(--font-size-smaller);
  border-radius: 25px;
}

/* BANNER */
.banner {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to right, #1a0033, #32004b 50%, #4b0066);
 */
  justify-content: space-between;
  background-image: url("../img/banner.webp");
  background-size: cover;
  background-position: center;
  /* padding: 3rem 0; */
  background-repeat: no-repeat;
  height: 100vh;
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.banner > * {
  position: relative;
  z-index: 2;
}
.banner-wrapper {
  display: flex;
  flex: 1; /* ocupa o espaço restante entre topo e border */
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  /* text-align: center; */
}
.banner-content {
  display: flex;
  /* flex-direction: column; */
  padding: 8rem 0;
}
.banner-title {
  width: 60%;
  margin: auto;
  padding: 4rem 0 2rem 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.title-banner {
  color: var(--white);
  font-size: var(--font-size-xxlarge);
}
.banner-text {
  width: 60%;
  padding: 0 1rem 0 0;
  margin: auto;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  /* text-align: center; */
  row-gap: 1.5rem;
}
.text-banner-strong {
  color: #b45eda;
  font-weight: 600;
  font-size: var(--font-size-xsmall);

  display: flex;
}
.text-banner {
  color: var(--light-gray);
  font-size: var(--font-size-xxsmall);
}
.banner-button {
  padding: 2.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-banner {
  margin-top: 2rem;
}
.btn-banner {
  background: var(--purple);
  text-decoration: none;
  color: var(--white);
  font-size: var(--font-size-smaller);
  border-radius: 15px;
  padding: 1rem 2rem;
}
.btn-banner:hover {
  box-shadow: 0 0 20px var(--purple);
  transition: 0.5s ease-in-out;
}
.banner-img {
  width: 40%;
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 4rem 0 0;
}
.img-banner {
  width: 684px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-chat {
  width: 100%;
  border-radius: 16px;
}

/* INTRODUCTION */
.banner {
  position: relative;
  width: 100%;

  z-index: 1;
}
.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(
    to right,
    transparent,
    var(--purple) 50%,
    transparent 90%
  );
}
.introduction {
  width: 100%;
  display: flex;
  /* background: linear-gradient(to right, #2b0d3a, #3e1f54 50%, #512a6f); */
  flex-direction: column;

  background: linear-gradient(to right, #1a0033, #32004b 50%, #4b0066);

  /* background: linear-gradient(to right, #ffffff, #edf0ff 50%, #e7e4ff);
  /* background: linear-gradient(to right, #2b0d3a, #3e1f54 50%, #512a6f); */
}
.introduction-content {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.introduction-title {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.title-introduction {
  font-size: var(--font-size-xlarge);
  color: var(--white);
  /* color: var(--purple); */
  text-align: center;
}
.introduction-text {
  width: 70%;
  padding: 1rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}
.text-introduction {
  font-size: var(--font-size-medium);
  color: var(--white);
}
.advantage-container {
  width: min(75rem, 100%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 2rem;
}

.advantage-card {
  --grad: purple, var(--green) 50%, var(--blue-secudary);
  padding: 2rem;
  /* background-image: linear-gradient(to bottom left, #e0e4e5, #f2f6f9); */

  background: #fff;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, sans-serif;
  /* color: #444447; */
  /* color: var(--green) 50%, var(--blue-secudary); */
  box-shadow: inset -2px 2px hsl(0 0% 100% / 1),
    -20px 20px 40px hsl(0 0% 0% / 0.25);
}

.advantage-title {
  font-size: 1.5rem;

  grid-area: title;
  align-self: end;
  text-transform: uppercase;
  font-weight: 500;
  word-break: break-word;
}

.advantage-icon {
  font-size: 2rem;
}
.advantage-header {
  /* text-transform: uppercase; */
  font-family: var(--font-header);
  display: flex;
  column-gap: 0.9rem;
  align-items: center;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.advantage-header h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.title-advantage-card {
  font-size: 1.5rem;
  margin-top: 0.4rem;
  background: linear-gradient(to right, var(--green) 50%, var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 500;
}

.advantage-icon > i {
  color: transparent;
  background: linear-gradient(to right, var(--grad));
  background-clip: text;
  -webkit-background-clip: text;
}

.advantage-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0.2rem;
}

.advantage-card::after {
  content: "";
  grid-area: bar;
  height: 2px;
  background-image: linear-gradient(90deg, var(--grad));
}

/* DESCRIPTION */

.description {
  width: 100%;
  display: flex;
  background: linear-gradient(to right, #1a0033, #32004b 50%, #4b0066);
}
.description-content {
  /* background: linear-gradient(60deg, #103e9e, #049dd9, #103e9e, #049dd9); */
  background: linear-gradient(to right, var(--green) 50%, var(--purple));
  border-radius: 50px;
}
.descriptions-texts {
  display: flex;
  padding: 5rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description-title {
  width: 100%;
  padding: 3rem 0 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
}
.title-description {
  color: var(--white);
  font-size: var(--font-size-xxlarge);
  text-align: center;
}
.shate-image {
  padding: 3rem 0;
}
.description-img {
  width: 300px;
  height: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.img-description {
  width: 100%;
}
.description-subtitle {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.subtitle-description {
  color: var(--white);
  font-size: var(--font-size-large);
  text-align: center;
}
.description-text {
  width: 55%;
  padding: 2.5rem 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.text-description {
  color: var(--white);
  font-size: var(--font-size-xsmall);
}

/* BRANDS */

.brands {
  width: 100%;
  display: flex;
  background: linear-gradient(to right, #1a0033, #32004b 50%, #4b0066);
}
.brands-content {
  display: flex;
  flex-direction: column;
}
.brand-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 3rem 0;
  text-align: center;
}
.title-brand {
  font-size: var(--font-size-xlarge);
  color: var(--white);
}
.brand-image {
  width: 100%;
  align-items: center;
  display: flex;
}
.brand-img {
  width: 1160px;
  height: 94px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-brands {
  width: 100%;
}

/* CARDS */

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #1a0033, #32004b 50%, #4b0066);
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-title {
  width: 100%;
  padding: 2rem 0 4rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
}
.title-card {
  color: var(--white);
  font-size: var(--font-size-xlarge);
}
.cards-text {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}
.card-texts {
  background: var(--light-green);
  width: 691px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 359px;
  max-width: 691px;
  min-width: 150px;
}
.image-card {
  width: 100%;
  display: flex;
  align-items: center;
}
.img-card {
  width: 691px;
  height: 230px;
  padding: 0 0 1.5rem 0;
}
.card-img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.cards-title {
  font-size: var(--font-size-small);
  padding: 0 0 0 2rem;
}
.card-text {
  padding: 0.5rem 0 0 2rem;
  font-size: var(--font-size-xxsmall);
}
.texts-card {
  width: 509px;
  height: 313px;
  max-width: 509px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
}
.card-image {
  width: 100%;
  display: flex;
  align-items: center;
}
.cards-img {
  background: var(--light-green);
  width: 509px;
  height: 200px;
  border-radius: 15px;
}
.img-cards {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.title-cards {
  font-size: var(--font-size-small);
  padding: 1rem 0 0.5rem 0;
  color: var(--white);
}
.text-card {
  color: var(--light-gray);
  font-size: var(--font-size-xxsmall);
}
.cards {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.cards-texts {
  width: 401px;
  height: 320px;
  max-width: 401px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
}
.cards-image {
  display: flex;
  align-items: center;
  width: 100%;
}
.cards-imgs {
  display: flex;
  width: 401px;
  height: 180px;
  border-radius: 15px;
  background: var(--light-green);
}
.imgs-cards {
  width: 100%;
  height: 93%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.cards-titles {
  color: var(--white);
  font-size: var(--font-size-small);
  padding: 1rem 0;
}
.texts-cards {
  color: var(--light-gray);
  font-size: var(--font-size-xxsmall);
}

/* SERVICE */

.service {
  width: 100%;
  display: flex;
  background: linear-gradient(to right, #1a0033, #32004b 50%, #4b0066);
}

.service-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-shate {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 3rem 0;
}
.shate-img {
  width: 76.51px;
  height: 72px;
}
.img-shate {
  width: 100%;
}
.service-card {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  display: flex;
  /* background: linear-gradient(60deg, #103e9e, #049dd9, #103e9e, #049dd9); */
  background: linear-gradient(to right, var(--green) 50%, var(--purple));
}
.service-texts {
  width: 50%;
  padding: 1rem 0 3rem 2rem;
  display: flex;
  flex-direction: column;
}
.service-texts-content {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0.5rem 3rem;
  flex-direction: column;
  transition: 0.7s all;
}
.service-title {
  font-size: var(--font-size-medium);
  color: var(--white);
  font-weight: 800;
  transition: 0.7s all;
}
.title-service {
  width: 100%;
  font-size: var(--font-size-medium);
  padding: 1rem 0;
  color: var(--white);
  font-weight: 800;
  transition: 0.7s all;
}
.service-text {
  width: 90%;
  font-size: var(--font-size-xxsmall);
  padding: 0 0 2rem 0;
  color: white;
  transition: 0.7s all;
}
.button-service {
  /* background: linear-gradient(to right, #1a0033, #32004b 50%, #4b0066); */
  background: var(--dark-purple-end);
  padding: 1rem 2rem;
  border-radius: 25px;
  text-decoration: none;
  font-size: var(--font-size-smaller);
  color: var(--white);
}
.service-image {
  width: 50%;
  transition: 0.3s ease;
  /* background: red; */
  align-items: center;
  display: flex;
  justify-content: center;
}
.service-img {
  width: 850px;
  /* height: auto; */
  /* margin-top: -40px; */
  display: flex;
  /* z-index: 1; */
  border-radius: 1rem;
  padding: 0 1rem 0 1rem;
}
.img-service {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/* TESTIMONIAL */

.testimonial {
  display: flex;
  width: 100%;
  background: linear-gradient(to right, #ffffff, #edf0ff 50%, #e7e4ff);
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonial-title {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 0 2rem 0;
}
.title-testimonial {
  font-size: var(--font-size-xxlarge);
  /* color: var(--dark-purple-end); */
  background: linear-gradient(to right, var(--green) 50%, var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  text-align: center;
}
.testimonial-text {
  align-items: center;
  justify-content: center;
  display: flex;
}
.text-testimonial {
  background: linear-gradient(to right, var(--green) 50%, var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: var(--font-size-xsmall);
  font-weight: 600;
  padding: 0 0 5rem 0;
  text-align: center;
}
.testimonials-texts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.testimonials-text {
  background: var(--white);
  text-align: center;
  width: 430px;
  height: 540px;
  min-width: 273px;
  min-height: 480px;
  border-radius: 1rem;
  box-shadow: inset -2px 2px hsl(0 0% 100% / 1),
    -20px 20px 40px hsl(0 0% 0% / 0.25);
}
.testimonial-titles {
  width: 95%;
  color: var(--green);
  margin: auto;
  padding: 3rem 0 1rem 0;
  font-size: var(--font-size-medium);
}
.testimonial-texts {
  width: 80%;
  font-size: var(--font-size-xxsmall);
  font-weight: 600;
  margin: auto;
  padding: 2rem 0;
  color: var(--green);
}
.imgs-testimonial {
  width: 85px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}
.subtitles-testimonial {
  color: var(--green);
  padding: 1rem 0 0 0;
  font-size: var(--font-size-xxsmall);
  font-weight: 600;
}

/* FOOTER */

.footer {
  width: 100%;
  display: flex;
  background: linear-gradient(to right, #1a0033, #32004b 50%, #4b0066);
}
.footer-content {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
}
.footer-image {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-footer {
  padding: 0 0 3rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-img {
  width: 294px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-footer {
  width: 100%;
}
.footer-input {
  width: 294px;
  height: 50px;
  padding: 0 1rem;
  border-radius: 8px;
  background: var(--light-gray);
  border: solid 1px var(--light-green);
  font-size: var(--font-size-smaller);
}
.footer-texts {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-titles {
  color: var(--light-green);
  font-size: var(--font-size-xsmall);
  padding: 0 0 2rem 0;
}
.texts-footer {
  color: var(--light-gray);
  padding: 0 0 1rem 0;
  font-size: var(--font-size-xxsmall);
}

@media only screen and (max-width: 1659px) {
  :root {
    --font-size-smaller: 1rem;
    --font-size-xxsmall: 1.25rem;
    --font-size-xsmall: 1.5rem;
    --font-size-small: 1.875rem;
    --font-size-medium: 1.9rem;
    --font-size-large: 2.25rem;
    --font-size-xlarge: 2.5rem;
    --font-size-xxlarge: 2.8rem;
  }
}
@media only screen and (max-width: 1438px) {
  .service-image {
    transition: 0.3s ease;
  }
  .service-img {
    width: 550px;
    transition: 0.3s ease;
  }
}
@media only screen and (max-width: 1156px) {
  :root {
    --font-size-smaller: 0.7rem;
    --font-size-xxsmall: 1rem;
    --font-size-xsmall: 1.2rem;
    --font-size-small: 1.5rem;
    --font-size-medium: 1.7rem;
    --font-size-large: 1.8rem;
    --font-size-xlarge: 2rem;
    --font-size-xxlarge: 2.2rem;
  }
  .banner {
    background-image: linear-gradient(
        to bottom,
        var(--light-black) 25%,
        transparent 100%
      ),
      url("../img/floor-mobile.webp.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bars {
    cursor: pointer;
  }
  .bar {
    height: 3px;
    display: block;
    width: 28px;
    background: var(--light-green);
    margin: 5px auto;
  }
  .bars.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .bars.active .bar:nth-child(2) {
    opacity: 0;
  }
  .bars.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .navigation.active {
    display: block;
  }
  .navigation {
    display: none;
  }
  .nav-itens {
    position: fixed;
    display: flex !important;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #1a0033, #32004b 50%, #4b0066);

    top: 65px;
    right: 0px;
    flex-direction: column;
    justify-content: start !important;
    padding: 40px 17px;
    align-items: center;
  }
  .button {
    display: none;
  }
  .mobile-button {
    display: block;
  }
  .banner-title {
    width: 100%;
  }
  .banner-text {
    width: 80%;
  }
  .introduction-text {
    width: 100%;
  }
  .description-content {
    border-radius: 20px;
  }
  .descriptions-texts {
    padding: 3rem 0;
  }
  .description-title {
    width: 90%;
    padding: 0;
  }
  .shate-image {
    padding: 1rem 0;
  }
  .description-img {
    width: 180px;
    height: 100px;
  }
  .description-text {
    width: 70%;
    padding: 2rem 0 0 0;
  }

  .service-card {
    flex-direction: column-reverse;
    transition: 0.3s ease;
  }
  .image-shate {
    display: none;
  }
  .service-image,
  .service-texts {
    width: 100%;
    transition: 0.3s ease;
  }
  .service-texts-content {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .service-title,
  .title-service,
  .service-text {
    text-align: center;
    transition: 0.7s all;
  }
  .service-texts {
    padding: 1rem;
  }
  .service-image {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
  }
  .service-img {
    width: 550px;
    height: auto;
    margin-top: -40px;
    display: flex;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
  }
  .testimonials-text {
    width: 430px;
    height: 540px;
  }
  .footer-content {
    flex-direction: column;
    padding: 0;
  }
  .footer-image {
    width: 100%;
  }
  .image-footer {
    padding: 0 0 1.5rem 0;
  }
  .footer-texts {
    width: 100%;
    padding: 2rem 0 0 0;
  }
  .footer-img {
    width: 230px;
    height: 60px;
  }
  .footer-input {
    width: 230px;
  }
}
@media only screen and (max-width: 701px) {
  :root {
    --gray: #5f6264bf;
    --font-size-smaller: 0.75rem;
    --font-size-xxsmall: 0.8rem;
    --font-size-xsmall: 1rem;
    --font-size-small: 1.2rem;
    --font-size-medium: 1.3rem;
    --font-size-large: 1.4rem;
    --font-size-xlarge: 1.5rem;
    --font-size-xxlarge: 1.6rem;
  }
  .banner-content,
  .introduction-content,
  .description-content,
  .testimonial-content,
  .brands-content,
  .card-content,
  .service-content,
  .footer-content {
    margin: 3rem auto;
    width: 90%;
  }
  .banner-text {
    width: 100%;
  }
  .btn-banner {
    font-weight: 600;
    padding: 1rem 1.5rem;
  }
  .shate-image {
    padding: 1rem 0;
  }
  .description-img {
    width: 130px;
    height: 60px;
  }
  .description-content {
    border-radius: 10px;
  }
  .descriptions-texts {
    display: flex;
    padding: 1.5rem 0;
  }
  .description-text {
    width: 80%;
    padding: 1rem 0 0 0;
  }
  .description-title {
    width: 95%;
  }
  .description-subtitle {
    width: 90%;
  }

  .brand-title {
    padding: 0 0 2rem 0;
  }
  .card-texts {
    text-align: center;
  }
  .cards-title {
    padding: 0;
  }
  .card-text {
    padding: 0.5rem 0;
  }
  .texts-card {
    text-align: center;
  }
  .cards-texts {
    text-align: center;
  }
  .cards {
    gap: 1rem;
  }
  .img-card {
    height: 180px;
  }
  .card-texts {
    height: 290px;
  }
  .cards-title {
    width: 90%;
    margin: 0 auto;
  }
  .card-text {
    width: 90%;
    margin: 0 auto;
  }
  .text-testimonial {
    /* color: var(--white); */
    font-size: var(--font-size-xsmall);
    padding: 0 0 3rem 0;
  }
  .testimonials-text {
    width: 273px;
    height: 460px;
  }
  .testimonial-titles {
    padding: 2rem 0 0 0;
  }
  .testimonials-texts {
    width: 90%;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding: 1rem 0;
    justify-content: space-between;
  }
  .testimonials-texts::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 20px;
    border: 2px solid var(--light-black);
  }
  .testimonials-texts::-webkit-scrollbar {
    background: var(--gray);
    border-radius: 20px;
  }
  .testimonial-texts {
    font-weight: 600;
  }
  .subtitles-testimonial {
    font-weight: 600;
  }
  .footer-img {
    width: 180px;
    height: 50px;
  }
  .footer-input {
    width: 200px;
    height: 40px;
  }
}
